<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CodeForces/src/round_354_2/Nicholas_and_Permutation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="round_354_2.Nicholas_and_Permutation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CodeForces"/>
</launchConfiguration>
