<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hackerrank_1/src/Week_Of_Code_20/Non_Divisible_Subset.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Week_Of_Code_20.Non_Divisible_Subset"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hackerrank_1"/>
</launchConfiguration>
