<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Da_iict/src/summer_long_1/Stuck_in_a_Matrix.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="summer_long_1.Stuck_in_a_Matrix"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Da_iict"/>
</launchConfiguration>
